# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 16.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://bukuk4muj:KamuskuMlongodb@adoniscluster1.6jwkt.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted

In [ ]:
# 1. Insert beberapa data
def insert_sample_data():
    multiple_employees = [
        {
            'name': 'Amba',
            'department': 'IT',
            'age': 31,
            'salary': 5000
        },
        {
            'name': 'Rusdi',
            'department': 'HR',
            'age': 35,
            'salary': 4800
        },
        {
            'name': 'David',
            'department': 'Marketing',
            'age': 27,
            'salary': 4200
        }
    ]
    collection.insert_many(multiple_employees)
    print('Multiple data baru telah ditambahkan')

# 2. Update data
def update_data():
    # Update satu data
    query = {'name': 'Amba'}
    new_values = {'$set': {'salary': 6900}}
    collection.update_one(query, new_values)
    print('Data Amba telah diupdate')


# 3. Delete data
def delete_data():
    # Delete satu data
    query = {'name': 'David'}
    collection.delete_one(query)
    print('Data David telah dihapus')


# 4. Tampilkan semua data
def show_all_data():
    print("\nDaftar semua karyawan:")
    for employee in collection.find():
        print(employee)

# Jalankan operasi
if __name__ == "__main__":
    # Reset collection (optional)
    collection.drop()

    # Jalankan operasi CRUD
    insert_sample_data()
    print("\nSetelah insert:")
    show_all_data()

    update_data()
    print("\nSetelah update:")
    show_all_data()

    delete_data()
    print("\nSetelah delete:")
    show_all_data()

Multiple data baru telah ditambahkan

Setelah insert:

Daftar semua karyawan:
{'_id': ObjectId('672207d2a8df661121195967'), 'name': 'Amba', 'department': 'IT', 'age': 31, 'salary': 5000}
{'_id': ObjectId('672207d2a8df661121195968'), 'name': 'Rusdi', 'department': 'HR', 'age': 35, 'salary': 4800}
{'_id': ObjectId('672207d2a8df661121195969'), 'name': 'David', 'department': 'Marketing', 'age': 27, 'salary': 4200}
Data Amba telah diupdate

Setelah update:

Daftar semua karyawan:
{'_id': ObjectId('672207d2a8df661121195967'), 'name': 'Amba', 'department': 'IT', 'age': 31, 'salary': 6900}
{'_id': ObjectId('672207d2a8df661121195968'), 'name': 'Rusdi', 'department': 'HR', 'age': 35, 'salary': 4800}
{'_id': ObjectId('672207d2a8df661121195969'), 'name': 'David', 'department': 'Marketing', 'age': 27, 'salary': 4200}
Data David telah dihapus

Setelah delete:

Daftar semua karyawan:
{'_id': ObjectId('672207d2a8df661121195967'), 'name': 'Amba', 'department': 'IT', 'age': 31, 'salary': 6900}
{'_id': ObjectId('672207d2a8df661121195968'), 'name': 'Rusdi', 'department': 'HR', 'age': 35, 'salary': 4800}

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721ff15a8df6611211958bd'), 'name': 'Amba', 'department': 'IT', 'age': 31, 'salary': 6900}
{'_id': ObjectId('6721ff15a8df6611211958be'), 'name': 'Rusdi', 'department': 'HR', 'age': 35, 'salary': 4800}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
# KENAPA ADA DOLARNYA
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'average_salary': 6900.0}
{'_id': 'HR', 'average_salary': 4800.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
def insert_sample_products():
    # Reset collection
    products.drop()

    computer_parts = [
        # CPU Products
        {
            "name": "Intel Core i9-13900K",
            "category": "CPU",
            "price": 589.99,
            "specs": {
                "cores": 24
            }
        },
        {
            "name": "AMD Ryzen 9 7950X",
            "category": "CPU",
            "price": 699.99,
            "specs": {
                "cores": 16
            }
        },
        {
            "name": "Intel Core i5-13600K",
            "category": "CPU",
            "price": 319.99,
            "specs": {
                "cores": 14
            }
        },

        # GPU Products
        {
            "name": "NVIDIA RTX 4090",
            "category": "GPU",
            "price": 1599.99,
            "specs": {
                "vram": "24GB GDDR6X"
            }
        },
        {
            "name": "AMD RX 7900 XTX",
            "category": "GPU",
            "price": 999.99,
            "specs": {
                "vram": "24GB GDDR6"
            }
        },
        {
            "name": "NVIDIA RTX 4080",
            "category": "GPU",
            "price": 1199.99,
            "specs": {
                "vram": "16GB GDDR6X"
            }
        },

        # Motherboard Products
        {
            "name": "ASUS ROG Maximus Z790 Hero",
            "category": "Motherboard",
            "price": 629.99,
            "specs": {
                "socket": "LGA 1700",
                "form_factor": "ATX"
            }
        },
        {
            "name": "MSI MPG B650 CARBON WIFI",
            "category": "Motherboard",
            "price": 329.99,
            "specs": {
                "socket": "AM5",
                "form_factor": "ATX"
            }
        },
        {
            "name": "GIGABYTE Z790 AORUS ELITE AX",
            "category": "Motherboard",
            "price": 249.99,
            "specs": {
                "socket": "LGA 1700",
                "form_factor": "ATX"
            }
        },

        # RAM Products
        {
            "name": "G.SKILL Trident Z5 RGB 32GB",
            "category": "RAM",
            "price": 189.99,
            "specs": {
                "capacity": "32GB",
                "speed": "6000MHz",
                "type": "DDR5"
            }
        },
        {
            "name": "Corsair Vengeance 32GB",
            "category": "RAM",
            "price": 159.99,
            "specs": {
                "capacity": "32GB",
                "speed": "5600MHz",
                "type": "DDR5"
            }
        },
        {
            "name": "Crucial RAM 32GB",
            "category": "RAM",
            "price": 139.99,
            "specs": {
                "capacity": "32GB",
                "speed": "4800MHz",
                "type": "DDR5"
            }
        }
    ]

    products.insert_many(computer_parts)
    print("Insert 12 produk into the database")

def find_above_average_price():
    # Pipeline untuk menghitung rata-rata harga
    pipeline = [
        {
            "$group": {
                "_id": None,
                "avg_price": {"$avg": "$price"}
            }
        }
    ]

    # Dapatkan rata-rata harga
    avg_price = list(products.aggregate(pipeline))[0]["avg_price"]
    print(f"\nRata-rata harga semua produk komponen komputer: ${avg_price:.2f}")

    # Query produk dengan harga di atas rata-rata
    print("\n1. Produk dengan harga di atas rata-rata dari semua produk yang ada:")
    expensive_products = products.find({"price": {"$gt": avg_price}})
    for product in expensive_products:
        print(f"- {product['name']}: ${product['price']}")

def count_products_by_category():
    # Pipeline untuk menghitung jumlah produk per kategori
    pipeline = [
        {
            "$group": {
                "_id": "$category",
                "count": {"$sum": 1},
                "avg_price": {"$avg": "$price"}
            }
        },
        {
            "$sort": {"_id": 1}
        }
    ]

    print("\n2. Ringkasan produk per kategori:")
    results = products.aggregate(pipeline)
    for result in results:
        print(f"\nKategori: {result['_id']}")
        print(f"Jumlah produk: {result['count']}")
        print(f"Rata-rata harga: ${result['avg_price']:.2f}")

if __name__ == "__main__":
    # Latihan 4.1
    insert_sample_products()

    # Latihan 4.2
    find_above_average_price()

    # Latihan 4.3
    count_products_by_category()

Insert 12 produk into the database

Rata-rata harga semua produk komponen komputer: $592.49

1. Produk dengan harga di atas rata-rata dari semua produk yang ada:
- AMD Ryzen 9 7950X: $699.99
- NVIDIA RTX 4090: $1599.99
- AMD RX 7900 XTX: $999.99
- NVIDIA RTX 4080: $1199.99
- ASUS ROG Maximus Z790 Hero: $629.99

2. Ringkasan produk per kategori:

Kategori: CPU
Jumlah produk: 3
Rata-rata harga: $536.66

Kategori: GPU
Jumlah produk: 3
Rata-rata harga: $1266.66

Kategori: Motherboard
Jumlah produk: 3
Rata-rata harga: $403.32

Kategori: RAM
Jumlah produk: 3
Rata-rata harga: $163.32

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
def insert_karyawan_data():
    # Reset collection
    karyawan.drop()

    data_karyawan = [
        # Dosen
        {
            "nama": "Dr. Bambang Sutejo",
            "departemen": "Dosen",
            "umur": 24,
            "gaji": 12500000
        },
        {
            "nama": "Prof. Siti Rahayu",
            "departemen": "Dosen",
            "umur": 52,
            "gaji": 15000000
        },
        {
            "nama": "Dr. Ahmad Hidayat",
            "departemen": "Dosen",
            "umur": 38,
            "gaji": 11000000
        },
        {
            "nama": "Dr. Dewi Kartika",
            "departemen": "Dosen",
            "umur": 41,
            "gaji": 11500000
        },
        {
            "nama": "Prof. Joko Widodo",
            "departemen": "Dosen",
            "umur": 18,
            "gaji": 14500000
        },
        {
            "nama": "Dr. Rina Sulistyowati",
            "departemen": "Dosen",
            "umur": 36,
            "gaji": 10800000
        },
        {
            "nama": "Dr. Agus Prasetyo",
            "departemen": "Dosen",
            "umur": 43,
            "gaji": 12000000
        },
        {
            "nama": "Dr. Sri Mulyani",
            "departemen": "Dosen",
            "umur": 47,
            "gaji": 13000000
        },
        {
            "nama": "Budi Santoso, M.Pd.",
            "departemen": "Dosen",
            "umur": 35,
            "gaji": 9500000
        },
        {
            "nama": "Ani Wijaya, M.Sc.",
            "departemen": "Dosen",
            "umur": 32,
            "gaji": 9000000
        },
        {
            "nama": "Budi Arie, M.Pd.",
            "departemen": "Dosen",
            "umur": 23,
            "gaji": 8500000
        },
        {
            "nama": "Hendra Kusuma, M.Si.",
            "departemen": "Dosen",
            "umur": 33,
            "gaji": 9200000
        },
        # Rektor
        {
            "nama": "Prof. Dr. Rikhan S.T., S.E., S.Sos., S.H., S.Kom., S.S., S.A.P., S.Stat., S.Akt., S.I.Kom., S.I.P., M.T., M.S.M., M.Kn.",
            "departemen": "Rektor",
            "umur": 20,
            "gaji": 99000000
        },
        {
            "nama": "Prof. Dr. Sukrisno",
            "departemen": "Rektor",
            "umur": 55,
            "gaji": 23000000
        },
        {
            "nama": "Dr. Gigawati",
            "departemen": "Rektor",
            "umur": 51,
            "gaji": 21000000
        },
        {
            "nama": "Prof. Dr. Prabowo",
            "departemen": "Rektor",
            "umur": 54,
            "gaji": 22000000
        },
        {
            "nama": "Dr. Tjahjo Kumolo",
            "departemen": "Rektor",
            "umur": 53,
            "gaji": 20500000
        },
        {
            "nama": "Dr. Retno Marsudi",
            "departemen": "Rektor",
            "umur": 49,
            "gaji": 19800000
        },
        {
            "nama": "Prof. Dr. Pratikno",
            "departemen": "Rektor",
            "umur": 52,
            "gaji": 21500000
        },
        {
            "nama": "Dr. Sri Mulyani",
            "departemen": "Rektor",
            "umur": 50,
            "gaji": 20000000
        }
    ]

    karyawan.insert_many(data_karyawan)
    print(f"Berhasil memasukkan {len(data_karyawan)} data karyawan")

def find_top_5_salary_by_department():
    pipeline = [
        {
            "$sort": {"gaji": -1}  # Sort descending berdasarkan gaji
        },
        {
            "$group": {
                "_id": "$departemen",
                "karyawan": {
                    "$push": {
                        "nama": "$nama",
                        "gaji": "$gaji",
                        "umur": "$umur"
                    }
                }
            }
        },
        {
            "$project": {
                "karyawan": {"$slice": ["$karyawan", 5]}  # Ambil 5 teratas
            }
        }
    ]

    print("\nTop 5 Karyawan dengan Gaji Tertinggi per Departemen:")
    results = karyawan.aggregate(pipeline)
    for result in results:
        print(f"\nDepartemen: {result['_id']}")
        for idx, k in enumerate(result['karyawan'], 1):
            print(f"{idx}. {k['nama']}: Rp {k['gaji']:,} (Umur: {k['umur']})")

def remove_young_employees():
    # Hitung jumlah karyawan sebelum penghapusan
    total_before = karyawan.count_documents({})

    # Hapus karyawan berusia di bawah 25 tahun
    result = karyawan.delete_many({"umur": {"$lt": 25}})

    print(f"\nPenghapusan Karyawan Muda:")
    print(f"Total karyawan sebelum penghapusan: {total_before}")
    print(f"Jumlah karyawan yang dihapus: {result.deleted_count}")
    print(f"Total karyawan setelah penghapusan: {karyawan.count_documents({})}")

def generate_department_summary():
    pipeline = [
        {
            "$group": {
                "_id": "$departemen",
                "total_karyawan": {"$sum": 1},
                "total_gaji": {"$sum": "$gaji"},
                "rata_rata_umur": {"$avg": "$umur"},
                "rata_rata_gaji": {"$avg": "$gaji"}
            }
        },
        {
            "$sort": {"_id": 1}
        }
    ]

    print("\nLaporan Ringkas per Departemen:")
    results = karyawan.aggregate(pipeline)
    for result in results:
        print(f"\nDepartemen: {result['_id']}")
        print(f"Jumlah Karyawan: {result['total_karyawan']}")
        print(f"Total Gaji: Rp {result['total_gaji']:,}")
        print(f"Rata-rata Gaji: Rp {result['rata_rata_gaji']:,.2f}")
        print(f"Rata-rata Umur: {result['rata_rata_umur']:.1f} tahun")

if __name__ == "__main__":
    # Insert data karyawan
    insert_karyawan_data()

    # Tugas 1: Cari 5 karyawan dengan gaji tertinggi per departemen
    find_top_5_salary_by_department()

    # Tugas 2: Hapus karyawan di bawah 25 tahun
    remove_young_employees()

    # Tugas 3: Generate laporan ringkas
    generate_department_summary()

Berhasil memasukkan 20 data karyawan

Top 5 Karyawan dengan Gaji Tertinggi per Departemen:

Departemen: Dosen
1. Prof. Siti Rahayu: Rp 15,000,000 (Umur: 52)
2. Prof. Joko Widodo: Rp 14,500,000 (Umur: 18)
3. Dr. Sri Mulyani: Rp 13,000,000 (Umur: 47)
4. Dr. Bambang Sutejo: Rp 12,500,000 (Umur: 24)
5. Dr. Agus Prasetyo: Rp 12,000,000 (Umur: 43)

Departemen: Rektor
1. Prof. Dr. Rikhan S.T., S.E., S.Sos., S.H., S.Kom., S.S., S.A.P., S.Stat., S.Akt., S.I.Kom., S.I.P., M.T., M.S.M., M.Kn.: Rp 99,000,000 (Umur: 20)
2. Prof. Dr. Sukrisno: Rp 23,000,000 (Umur: 55)
3. Prof. Dr. Prabowo: Rp 22,000,000 (Umur: 54)
4. Prof. Dr. Pratikno: Rp 21,500,000 (Umur: 52)
5. Dr. Gigawati: Rp 21,000,000 (Umur: 51)

Penghapusan Karyawan Muda:
Total karyawan sebelum penghapusan: 20
Jumlah karyawan yang dihapus: 4
Total karyawan setelah penghapusan: 16

Laporan Ringkas per Departemen:

Departemen: Dosen
Jumlah Karyawan: 9
Total Gaji: Rp 101,000,000
Rata-rata Gaji: Rp 11,222,222.22
Rata-rata Umur: 39.7 tahun

Departemen: Rektor
Jumlah Karyawan: 7
Total Gaji: Rp 147,800,000
Rata-rata Gaji: Rp 21,114,285.71
Rata-rata Umur: 52.0 tahun